<div class="sign-up-container">
    <%= link_to sanitize("&larr; Home"), root_path %>
    <h1>Create Account</h1>

    <%= form_with model: @user do |f| %>
        <% if @user.errors.any? %>
            <div>
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="form-row">
            <%= f.label :name, "Username" %>
            <%= f.text_field :name %>
        </div>
        <div class="form-row">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div class="form-row">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
        <div class="form-actions">
            <%= f.submit "Sign Up", { class: "primary-button" } %>
            <%= link_to "Already have an account? Login instead.", new_user_sessions_path %>
        </div>
    <% end %>

</div>
