<div class="subscription-form">
    <%= form_with model: subscription  do |f| %>
        <div class="form-row">
            <%= f.label :name %>
            <%= f.text_field :name, input_html: { autofocus: true } %>
        </div>
        <div class="form-row">
            <%= f.label :url, "Homepage" %>
            <%= f.text_field :url %>
        </div>
        <div class="form-row">
            <%= f.label :price_type, "Payment Interval" %>
            <%= f.select(:price_type, Subscription.price_types.keys.map { |k| [k.titleize, k] }) %>
        </div>
        <div class="form-row">
            <%= f.label :price, "Price in #{Subscription.currency}" %>
            <%= f.number_field :price, step: :any %>
        </div>
        <div class="form-actions">
            <%= link_to "Cancel", subscriptions_path %>
            <%= f.submit %>
        </div>
    <% end %>
</div>