<%= turbo_frame_tag subscription do %>
    <div class="subscription">
        <div>
            <h2><%= subscription.name %></h2>
            <div class="subscription-footer">
                <h3>Monthly Cost: <%= number_to_currency subscription.monthly_price, precision: 2, unit: Subscription.currency %></h3>
                <%= link_to "Edit", edit_subscription_path(subscription) %>
                <%= link_to "Delete", subscription_path(subscription), method: :delete %>
            </div>
      </div>
    </div>
<% end %>